body {
  font-family: fantasy;
  font-size: 1em;
  /*background-color: #666;*/
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.users li {
  border: thin solid rebeccapurple;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  list-style: none;
  width: 10em;
}
.user dl dt {
  width: 1em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  background-color: lightblue;
}

.funemployed {
  color: red;
  font-weight: bold;
}

.singleInfo {
  border-style: double;
  border-color: rebeccapurple;
  margin-left: 3em;
  margin-top: 4em;
  padding: 1em;
  width: 40em;
  height: 26em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20em;
  height: 15em;
  padding-left: 0.25em;
  margin-left: 1em;
  padding-bottom: 0.25em;
}
p {
  margin: 0;
}

.singleInfo img {
  background-color: lightgray;
  border-radius: 60px;
  width: 14em;
  height: 15em;
}
h1 {
  font-size: 3em;
  padding-left: 0.5em;
}
.details {
  width: 30em;
  height: 10em;
  padding-left: 3em;
}
