<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>{{name}} info</title>
  </head>
  <body>
    <div class="singleInfo">
      <div class="test">

        <img src="{{avatar}}" alt="" height="150" width="150">
        <div class="contact">
          <h1>{{name}}</h1>
          <p class="address">
            {{#address.city}}
            {{address.city}},
            {{/address.city}}
            {{address.country}} |
            {{#job}}
            {{job}}, {{company}}
            {{/job}}
            {{^job}}
            <p class="funemployed"> Available for Hire</p>
            {{/job}}
          </p>
          <p> {{email}}, {{phone}}</p>
        </div>
        <div class="details">
        <dl>
          {{#university}}
          <dt>Education</dt>
          <dd>{{university}}</dd>
          {{/university}}
          <dt>Skills</dt>
          {{#skills}}
          <dd>{{.}}</dd>
          {{/skills}}
        </dl>
      </div>
    </div>
    </div>
  </body>
</html>
